<div class="auglysing">
    <a href="https://www.scribd.com/" target="_blank" class="augl" >
        <div class="ad">
            <div class="innihald">
                <img src="verkefni4-myndir/cozybook.jpg" id="fadeIn">
                <h3 id="spurning">Hefur þú ekki velt fyrir þér hvað það væri þægilegt að geta lesið hvaða bók sem er.. hvenær sem er og hversu þægilegt það væri ef það væri til eitthvert skonar forrit fyrir það!<br>en bíddu það er til.</h3>
                <h4 id="svar">Líttu við á stærsta netbókasafn heimsins!<br> Scribd</h4>
                <button class="thoughtbot">Skoða nánar...</button>  
            </div>
        </div>    
    </a>
</div>

